.fontalltime{
 font-family: 'Ubuntu', sans-serif;
 font-size: 20px;

}

body{
  text-align: center;
}
h1 {
   color:#800000;
}
.bluetext {
  color: blue;
}

.textmelodie {
    width: 720px;
    padding: 10px;
    border: 5px solid #88cc00;
    margin: 0;
}


.textursa {
    width: 720px;
    padding: 10px;
    border: 5px solid #7733ff;
    margin: 0;
}

.textanacar {
  width: 720px;
    padding: 10px;
    border: 5px solid #990000;
    margin: 0;
}
