.fontalltime{
 font-family: 'Ubuntu', sans-serif;
 font-size: 20px;

}

body{
  text-align: center;
  background-image: url("starlight.jpg");
  font-family: 'Ubuntu', sans-serif;
  font-size: 21px;
}
h1 {
   color:#800000;
}
.author {
  width: 1000px;
  padding: 10px;
  border: 5px solid #000066;
  margin: auto;
  display: block;
  background-color:  #ccccff;

}

.textmelodie {
    width: 720px;
    padding: 10px;
    border: 5px solid #88cc00;
    margin: auto;
    background-color: #70db70;
    display: block;
}


.textursa {
    width: 720px;
    padding: 10px;
    border: 5px solid #7733ff;
    margin: auto;
    background-color: #cc99ff;
    display: block;
}

.textanacar {
  width: 720px;
    padding: 10px;
    border: 5px solid #990000;
    margin: auto;
    background-color: #ff3333;
    display: block;
}
